@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Manrope:wght@700&family=Poppins:wght@600;700&family=Roboto:wght@700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    color: #3A3A3A;
}

/*=================================
============= utilities ===========
===================================*/

:root{
    --main-btn-color: #E02C6D;

}

.container {
    width: 1200px;
    margin: 0 auto;
}

/*=================================
============= header style ===========
===================================*/

#header {
    margin-top: 80px;
}

/* navbar */

nav {
    height: 52px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ani {
    color: royalblue;
    animation: ani 1.5s ease-in-out infinite;
}

.navbar-menu {
    display: flex;
}

.navbar-item {
    display: flex;
}

.navbar-item li {
    list-style: none;
    padding: 0 20px;
}

.navbar-item li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
}

.navbar-icons {
    padding: 0 20px;
    color: #3A3A3A;
    font-size: 24px;
    cursor: pointer;
}

.header-section {
    display: flex;
    height: calc(100vh - 132px);
    justify-content: space-between;
    align-items: center;
}

.left-side {
    width: 50%;
}

.header-section .left-side h1 {
    font-size: 52px;
    font-weight: 700;
    line-height: 70px;
}

.header-section .left-side p {
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    padding: 20px 0;
}

.header-btn {
    background-color: var(--main-btn-color);
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    padding: 15px 30px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: all 1s;
}

.header-btn:hover {
    transform: scale(1.3);
    background: royalblue;
}

/*=================================
============= logo section style ===========
===================================*/

.logos {
    padding: 20px 35px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-column-gap: 10px;
}

/*=================================
============= products section style ===========
===================================*/

.products-section {
    margin-top: 50px;
}

.products-section h2 {
    text-align: center;
    font-size: 28px;
    font-weight: 600;
    padding: 20px 0;
}

.products {
    display: grid;
    grid-template-columns: repeat(3, 330px);
    gap: 35px;
    justify-content: center;
}

.product {
    background-color: #fff;
    box-shadow: 7px 10px 15px rgba(0, 0, 35, 0.5);
    padding: 15px;
    border-radius: 10px;
}

.product-image {
    width: 300px;
    height: 260px;
    margin: 0 auto;
}

.product-image img {
    width: 300px;
    height: 260px;
    object-fit: cover;
}

.product h1 {
    font-size: 28px;
    margin: 10px 0;
    font-weight: 500;
}

.product h3 {
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 15px;
}

.rating {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 700;
    padding-bottom: 5px;
}

.rating-color {
    color: orange
}

.product-text {
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 22px;
    color: #787885;
}

.products-link {
    text-align: right;
    margin-top: 30px;
}

.products-link a {
    text-decoration: none;
    color: var(--main-btn-color);
    font-size: 16px;
    font-weight: 700;
}

/*=================================
============= optional section style ===========
===================================*/

.fuji-camera {
    display: grid;
    grid-template-columns: 0.9fr 1.3fr;
    margin-top: 70px;
    align-items: center;
}

.camera-pic img {
    width: 400px;
    height: 270px;
}

.fuji-camera h1 {
    font-size: 38px;
    font-weight: 700;
    padding: 20px 0;
}

.fuji-camera p {
    font-size: 16px;
    font-weight: 700;
    color: #6C6C6C;
    text-align: justify;
}

.buy {
    background-color: var(--main-btn-color);
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    padding: 10px 25px;
    margin-top: 20px;
    cursor: pointer;
    border: none;
}

/*=================================
============= footer section style ===========
===================================*/

footer {
    margin-top: 70px;
    background-color: #000;
    color: #fff;
    padding: 50px 20px;
    text-align: center;
}

footer h1 {
    font-size: 24px;
    font-weight: bold;
}

footer p {
    color: #D9DBE1;
    font-size: 14px;
    font-weight: bold;
    font-family: 'Manrope', sans-serif;
}

.footer-icons {
    font-size: 32px;
    margin-top: 10px;
}

.footer-icon {
    margin: 0 13px;
}

/*=================================
============= animation ===========
===================================*/

@keyframes ani {
    0%{
        transform: rotate(0);
    }

    100%{
        transform: rotate(360deg);
    }
}

/*=================================
============= media queries ===========
===================================*/

@media only screen and (max-width: 688px) {
    .container {
        width: 100vw;
    }
    .header-section {
        flex-direction: column;
        height: auto;
    }

    .brand {
        width: 75%;
        margin-left: 20px;
    }

    .brand h2 {
        font-size: 14px;
    }

    .right-side {
        order: 1;
    }

    .left-side {
        order: 2;
    }

    .logos {
        grid-template-columns: repeat(3, 1fr);
    }

    .products {
        grid-template-columns: 1fr;
    }

    .product {
        width: 330px;
        justify-self: center;
    }
    .fuji-camera {
        grid-template-columns: 1fr;
        padding: 20px 10px;
        justify-content: center;
        width: 100vw;
        height: auto;
    }
    .camera-info {
        padding: 20px 10px;
        width: 100%;
    }
    .camera-pic {
        text-align: center;
    }
    .navbar-item, .sm-none {
        display: none;
    }
}

@media only screen and (min-width: 689px) and (max-width: 992px) {
    .container {
        width: 90vw;
    }
    .header-section {
        flex-direction: column;
        height: auto;
    }

    .brand {
        width: 75%;
        margin-left: 20px;
    }

    .right-side {
        order: 1;
    }

    .left-side {
        order: 2;
    }
    .logos {
        grid-template-columns: repeat(4, 1fr);
    }
    .products {
        grid-template-columns: 1fr 1fr;
    }

    .product {
        width: 330px;
    }
    .navbar-item, .sm-none {
        display: none;
    }
}